<% include ../base/headerStaff %>
    <br>
    <br>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-9">
            <h6>List of question</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-9">
            <a href="/admin/createQuestion" class="btn btn-primary" role="button">Create question</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table id="questionTable" class="display" width="100%">
                <thead>
                    <tr>
                        <th width="25%">ID</th>
                        <th width="25%">Question</th>
                        <th width="25%">Topic</th>
                        <th width="25%">Actions</th>
                    </tr>
                </thead>
                <%  for(var i=0; i< data.length;i++){ %>
                    <tr>
                        <td>
                            <%= data[i]._id %>
                        </td>
                        <td>
                            <%= data[i].question %>
                        </td>
                        <td>
                            <%= data[i].topics %>
                        </td>
                        <td>
                            <a href="/admin/question/edit/<%= data[i]._id %>">
                                Edit
                            </a>
                        </td>
                    </tr>
                    <% } %>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <a href="/admin/staff">Back</a>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#questionTable').DataTable();
        });
    </script>
    <% include ../base/footer %>