<% include ../base/headerStaff %>
    <br>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <h6> Staff </h6>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <a  href="/admin/quizzes"> Quizzes </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <a  href="/admin/questions"> Questions</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-4">
            <a href="/admin/topics"> Topics</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-7">
            <p>Visualization part </p>    
        </div>
    </div>
    <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-7">
                <a href="/admin/ratioCorrectAndIncorrect"> A graph showing the ratio (percentage) of participants that chose a right question. </a>
            </div>
    </div>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-7">
            <a href="/admin/percentageByTopic"> A graph showing the ratio (percentage) of partipants that chose the right question by topic. </a>
        </div>
    </div>
    <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-7">
                <a href="/admin/numberParticipant"> Number of participants for each topic.</a>
            </div>
        </div>

<% include ../base/footer %>