<% include ../base/headerStaff %>
    <br>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <h6> Staff </h6>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <a  href="/admin/quizzes"> Quizzes </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <a  href="/admin/questions"> Questions</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-4">
            <a href="/admin/topics"> Topics</a>
        </div>
    </div>

<% include ../base/footer %>