<% include ./base/header %>
    <br>
    <br>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
            <h6>Create Question</h6>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label>Question</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <input type="text" class="form-control" id="question" placeholder="Question title">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <select id="select_topic" multiple="multiple">
                <option value="cheese">Cheese</option>
                <option value="tomatoes">Tomatoes</option>
                <option value="mozarella">Mozzarella</option>
                <option value="mushrooms">Mushrooms</option>
                <option value="pepperoni">Pepperoni</option>
                <option value="onions">Onions</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label>1</label>
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" id="choice1" placeholder="Choice">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label>2</label>
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" id="choice2" placeholder="Choice">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label>3</label>
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" id="choice3" placeholder="Choice">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label>4</label>
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" id="choice4" placeholder="Choice">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <label for="correctAnswer">Correct answer number</label>
            <select class="form-control" id="correctAnswer">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
            <button onclick="createQuestion();" class="btn btn-primary">Submit</button>
            <a href="/questions" class="btn btn-primary">Cancel</a>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#select_topic').multiselect({
                includeSelectAllOption: true,
                enableFiltering: true,
                buttonWidth: '235',
                onChange: function(element, checked) {
                    var brands = $('#select_topic option:selected');
                    var selected = [];
                    $(brands).each(function(index, brand){
                        selected.push([$(this).val()]);
                    });
                }
            });
        });
        
        function createQuestion() {
            var question = document.getElementById("question").value
            var choice1 = document.getElementById("choice1").value
            var choice2 = document.getElementById("choice2").value
            var choice3 = document.getElementById("choice3").value
            var choice4 = document.getElementById("choice4").value
            var e = document.getElementById("correctAnswer")
            var correctAnswer = e.options[e.selectedIndex].value
            
            var data = {
                'question': question,
                'choices': [
                    choice1,
                    choice2,
                    choice3,
                    choice4,
                ],
                'correctAnswer': correctAnswer,

            }
            if (question === "") {
                alert("Please fill in all information")
            } else if (choice1 === "") {
                alert("Please fill in all information")
            } else if (choice2 === "") {
                alert("Please fill in all information")
            }
            else if (choice3 === "") {
                alert("Please fill in all information")
            } else if (choice4 === "") {
                alert("Please fill in all information")
            } else {
                $.post('/api/v1/createQuestion', data, function (response) {
                    alert(response.message)
                    window.location.replace("/questions");
                })
            }
        }

    </script>
    <% include ./base/footer %>