<!doctype html>
<html lang="en">

<head>
    <title>MCQ</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">MCQ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/questions">Qustions</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <br>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
            <h6>Create Question</h6>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label>Question</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <input type="text" class="form-control" id="question" placeholder="Question title">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label>1</label>
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" id="choice1" placeholder="Choice">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label>2</label>
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" id="choice2" placeholder="Choice">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label>3</label>
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" id="choice3" placeholder="Choice">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label>4</label>
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" id="choice4" placeholder="Choice">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <label for="correctAnswer">Correct answer number</label>
            <select class="form-control" id="correctAnswer">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
            <button onclick="createQuestion();" class="btn btn-primary">Submit</button>
            <a href="/" class="btn btn-primary">Cancel</a>
        </div>
    </div>
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <a class="navbar-brand" href="#" style="font-size: 11px;">@Copyright by ChinLi</a>
    </nav>
    <script>
        function createQuestion() {
            var question = document.getElementById("question").value
            var choice1 = document.getElementById("choice1").value
            var choice2 = document.getElementById("choice2").value
            var choice3 = document.getElementById("choice3").value
            var choice4 = document.getElementById("choice4").value
            var e = document.getElementById("correctAnswer")
            var correctAnswer = e.options[e.selectedIndex].value
            var data = {
                'question': question,
                'choices': [    
                    choice1,
                    choice2,
                    choice3,
                    choice4,
                ],
                'correctAnswer': correctAnswer,
            }
            $.post('/api/v1/createQuestion', data, function (response) {
                alert(response.message)
                window.location.replace("/questions");
            })

        }

    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>

</html>