<% include ./base/header %>
    <br>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h6>MCQ Quizzes</h6>
            <br>
        </div>
    </div>
    <br>
    <br>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table id="quizTable" class="display" width="100%">
                <thead>
                    <tr>
                        <th width="50%">Title</th>
                        <th width="25%">Number of Question</th>
                        <th width="25%">Actions</th>
                    </tr>
                </thead>
                <% for(var i=0; i< data.length;i++){ %>
                    <tr>
                        <td>
                            <%= data[i].title %>
                        </td>
                        <td>
                            <%= data[i].problemsId.length %>
                        </td>
                        <td>
                            <a href="/quiz/do/<%= data[i]._id %>">
                                Do Quiz
                            </a>
                        </td>
                    </tr>
                    <% } %>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <a class="navbar-brand" href="#" style="font-size: 11px;">@Copyright by ChinLi</a>
    </nav>
    <script>
        $(document).ready(function () {
            $('#quizTable').DataTable();
        });
    </script>
    <% include ./base/footer %>