<% include ./base/header %>
<br>
<br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h6>Quiz : <%= quiz.title %></h6>
        <br>
    </div>
</div>
<div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <p>Number of question : <%= problems.length %></p>
        </div>
</div>
<div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <a href="/question/do/<%= problems[0]._id %>" class="btn btn-primary">Start Quiz</a>
        </div>
</div>



<% include ./base/footer %>